.minecraft-page {
    background-color: var(--primary-color);
}

.minecraft-page__description {
    margin-bottom: 96px;

    @media only screen and (max-width: 600px) {
        margin-bottom: 48px;
    }
}
